<h2>Get In Touch</h2>
<div class="card-container-contact">
    <form class="card-contact" action="mailto:someone@example.com?subject=Message via Portfolio" method="post" enctype="text/plain"> <?Here the portfolio owner can change the mailto to change the email and also the subject?>
        <label>Name</label>
        <br>
        <input class="input-field" type="text" name="name" placeholder="Name">
        <br/>
		<label>Email</label>
        <br/>
		<input class="input-field" type="email" name="email" placeholder="Email"><br>
        <br/>
		<label>Message</label>
        <br/>
		<textarea class="input-field" name="message" placeholder="message"> </textarea>
        <br>
		<input id="submit-btn" type="submit" value="Send">
        <input type="reset" value="Reset">       
    </form>
</div>

    
