.theme-dark {
	--bg-0: #0d1117;
	--bg-1: #161b22;
	--bg-2: #21262d;
	--fg-0: #89929b;
	--fg-1: #c6cdd5;
	--fg-2: #ecf2f8;
	--orange: #faa356;
	--green: #7ce38b;
	--blue-light: #a2d2fb;
	--blue-dark: #77bdfb;
	--purple: #cea5fb;
}
.theme-light{
	--bg-0: #f5f5f9 ;
	--bg-1: #1d539f;
	--bg-2:	#ffffff;		;
	--fg-0: #404040;
	--fg-1: #000000;
	--fg-2:  #ecf2f8;
}